<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">
<head>

<link rel="stylesheet" type="text/css" href="style.css" />

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Customer Detail</title>
</head>
<body>
	<wicket:table id="custTable">
		<tr>
		<td>
		<tr>
			<th>Customer Detail</th>
		</tr>
		<tr>
		<td>
			<table border="" id="personTable">
				<tr>
					<th>Personal Information</th>
				</tr>
				<td>
					<table id="nameTable">
						<tr>
							<td>First Name:</td>
							<td><input wicket:id="cuFirstNameTx" /></td>
						</tr>
						<tr>
							<td>Middle:</td>
							<td><input wicket:id="cuMiddleInitialTx_N"/></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input wicket:id="cuLastNameTx" /></td>
						</tr>
						<tr>
							<td>Suffix:</td>
							<td><input /></td>
						</tr>
					</table>
				</td>
				<td>
					<table id="addressTable">
						<tr>
							<td>Address 1:</td>
							<td><input wicket:id=""/></td>
						</tr>
						<tr>
							<td>Address 2:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>Address 3:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>Address 4:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>City:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>State:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>Postal Code:</td>
							<td><input /></td>
						</tr>
						<tr>
							<td>Country:</td>
							<td><input /></td>
						</tr>
					</table>
				</td>
		</tr>
		<tr>
		<td>
				<table id="phoneTable">
					
					<tr>
						<td>Phone:</td>
						<td><input /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input /></td>
					</tr>

				</table>
				
				</td>
		</table>
		</td>
		</tr>
	</wicket:table>
</body>
</html>