<wicket:extend xmlns:wicket="http://wicket.apache.org">

<span style="display: block; border: 1px solid black;">
</span>	
 <!-- 
    <span wicket:id="currentUser"></span>
 -->
    <span wicket:id="resultLabel"></span>    
    <form wicket:id="filterForm">
 <!-- 
     <div wicket:id="stockitemmodalwindow" style="display:block;"></div>
 -->    
        <fieldset style="display: inline-table;">
            <legend>Filter</legend>
            <span style="float: left;">Invoice Id: <input wicket:id="invId"/></span> <br/>
            <span style="float: left;">Invoice Date: <input wicket:id="invCreateDate"/></span><br/>
            <span style="float: left;">Customer Number: <input wicket:id="invCustId"/></span> <br/>
            <span style="float: left;">Invoice Number: <input wicket:id="invNumber_Tx_N"/></span>
        </fieldset>
        <table class="dataview" wicket:id="invoiceTable"></table>   
    </form>
</wicket:extend>
