<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>EVE</title>
</head>
<body>
	<table>
		<tr>
			<td><a href="#" wicket:id="stockItemSearchLink">Stock Item Search</a></td>
		</tr>
		<tr>
			<td><a href="#" wicket:id="customerLink">Customer</a></td>
		</tr>
		<tr>
			<td><a href="#" wicket:id="invoiceLink">Invoice</a></td>
		</tr>
		<tr>
			<td><a href="#" wicket:id="purchaseOrderLink">Purchase Order</a></td>
		</tr>
	</table>

</body>
</html>